/* .wrapper {
  position: fixed;
  top: 0;
  width: 200px;
  height: 500px;
} */

.window {
  position: fixed;
  top: 1%;
  left: 1%;
  height: 98vh;
  width: 220px;
  opacity: 0;
  background-color: rgb(237, 237, 237);
  border-radius: 15px;
  z-index: 100;
  transition: all 1s;
}

.window.active {
  opacity: 1;
  transition: all 1s;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px;
}

.favorite {
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
}

.favorite::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid gray;
}