.wrapper {
  background-color: rgba(242, 242, 242);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content:  center;
  align-items: center;
  border: 1px solid rgba(255, 255, 0, 0.6);
  cursor: pointer;
  transition: all .3s;
  color: rgb(83, 83, 83, 0.7);
  font-weight: 600;
}

.wrapper:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.2);
  transition: all .3s;
}

.wrapper:active {
  transform: scale(.9);
  background-color: rgba(255, 255, 0, 0.5);
  transition: all .3s;

}

.linkPage {
  text-decoration: none;
  color: currentColor;
}

.current {
  color: rgba(0, 0, 0);
  font-size: 20px;
  background-color: rgba(211, 211, 211, 1);
  transition: all .3s;
}
