.wrapper {
  margin-bottom: 50px;
  padding: 30px 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(192, 192, 192, 0.3);
  position: relative;

}

.title {
  padding: 25px 0;
  margin: 0 auto;
  max-width: max-content;
  position: relative;
}

.data {
  display: flex;
  gap: 20px;
}



.photo {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
}

.imgWrapper {
  position: relative;
}

.avatar {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 5px 2px silver;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .3s;
}

.avatar.active {
  filter:contrast(.7);
  border: 2px solid gray;

}

.editAvatar {
  padding: 3px 0;
  text-align: center;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(128, 128, 128, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: bold;
  transition: all .3s;
}

.editAvatar:hover {
  opacity: 1;
  pointer-events: all;
}

.editAvatar.active {
  opacity: 1;
  pointer-events: all;
}

.info {
  align-self: center;
}

.block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}


.blockAvatar {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -25px;
}

.key {
  flex: 0 0 150px;
}



.block > input {
  border: 1px solid black;
  box-sizing: border-box;
  transition: all .3s;
}

.value {
  box-sizing: border-box;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  padding:10px;
  font-weight: bold;
  font-size: 16px;
  word-break: break-all;
  outline: none;
  border: 1px solid transparent;
}

.value:focus {
  border: 1px solid rgb(145, 145, 0);
}


.value.disable {
  background-color: rgba(128, 128, 128, 0.3);
  color: gray;
}

.editWrapper {
  position: absolute;
  top: 15px;
  right: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  opacity: .3;
  transition: all .3s;
  cursor: pointer;
}

.editWrapper:hover {
  background-color: rgba(255, 255, 0, 0.5);
  opacity: 1;

}

.edit {
  width: 20px;
  transition: all .3s;
}

.edit:hover {
  transform: scale(1.1);
}

.edit:active {
  transform: scale(.7);
}

.submitWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
  animation: fadeIn .3s ease-out;
}

.submitWrap:hover {
  background-color: rgba(255, 255, 0, 0.5);
  opacity: .7;
  transform: scale(1.1);
}

.submitWrap:active {
  transform: scale(.8);
}

.submit {
  width: 30px;  
}

.inputValue {
  height: 20px;
  width: 240px;
  padding: 0 7px;
  border-radius: 5px;
  border: .3px solid gray;
  box-shadow: 0 3px 3px -2px rgba(128, 128, 128, 0.7);
  outline: none;
}

.inputValue:focus {
  border: .3px solid black;
}

.inputValue.errors {
  border: .3px solid red;
}

.submitAva {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}

.submitImg {
  height: 20px;
  opacity: .6;
  cursor: pointer;
  transition: all .3s ;
}

.submitImg:hover {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

@keyframes fadeInAva {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width:990px) {
  .data {
    flex-direction: column;
    gap: 40px;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .block {
    flex-direction: column;
  }
  .key {
    flex: 1 0 auto;
  }
  .value {
    width: 300px;
    text-align: center;
  }
  .title {
    position: static;
  }
  .editWrapper {
    top: 35px;
    right: 100px;
    z-index: 100;
  }
}

@media (max-width: 400px) {
  .value {
    width: auto;
  }
  .photo {
    width: auto;
  }
  .editWrapper {
    right: auto;
  }
}