.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  outline: none;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  margin: 120px auto;
  box-sizing: border-box;
  max-width: calc(100vw - 100px);
  width: max-content;
  /* min-width: 200px; */
  /* padding: 20px; */
  border-radius: 10px;
  background-color: white;
  transition: all .3s linear;
  opacity: 0;
}

.content.active {
  opacity: 1;
  transition: all .3s;
}
