.wrapper {
  padding: 30px 0;
}

.main {
  display: flex;
  margin-top: 20px;
}

.image {
  position: relative;
  width: 65%;
  box-sizing: border-box;
}

.main img {
  width: 85%;
  object-fit: cover;
}

.back {
  text-decoration: none;
  cursor: pointer;
  color: gray;
  box-sizing: border-box;
  transition: all .3s;
}

.back:hover {
  color: rgb(66, 66, 66);
}

.back::before {
  content: "\25C4";
  font-size: 25px;
  padding-right: 3px;
}

.sale {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 10;
}

.backgroundSale {
  background-color: red;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.info {
  position: relative;
  width: 35%;
  box-sizing: border-box;
  padding-left: 20px;
}

.oldprice {
  text-decoration: line-through;
}

.price {
  font-size: 30px;
  color: red;
  font-weight: 600;
}

.cart {
  padding: 20px 2px;
}

.cart a {
  padding: 10px 15px;
  background-color: rgb(255, 255, 43, 0.7);
  border-radius: 20px;
  /* font-size: 1.3vw; */
  text-decoration: none;
  color: black;
  transition: all .1s linear;
}

.cart a:hover {
  background-color:  rgba(202, 66, 7, 0.536);
  color: rgb(0, 0, 0);
  box-shadow: 0 7px 7px -4px gray;
  font-size: 17px;

}

.likeContainer {
  display: flex;
  gap: 15px;
  /* position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 10; */
}

.likeContainer span {
  font-size: 20px;
}

.like {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: rgba(128, 128, 128, 0.5);
}

.like:hover {
  fill: rgba(128, 128, 128, 0.6);
}

.likeActive {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: red;
}

.likeActive:hover {
  fill: rgba(255, 0, 0, 0.7);
}

.about {
  margin-top: 20px;
  text-align: justify;
}

.about p {
  padding: 20px 0;
}

.character {
  margin-top: 20px;
  text-align: justify;
}

.character p {
  padding: 20px 0;
}
<<<<<<< HEAD
=======

.h3 {

  margin-bottom: 50px;
  position: relative;
}

.h3::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: .3px solid rgba(128, 128, 128, 0.5);
  position: absolute;
  bottom: -20px;
  left: 0;
}

.revWrapper {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
}

.addRev {
  width: 50%;
}

.rev {
  width: 50%;


}

.rating {
  margin-top: 20px;
  font-size: 20px;
}

.numRat {
  padding: 5px;
  color: rgb(207, 172, 0);
  font-weight:600;
}
>>>>>>> 1c04fab (fix review)
