.wrapper {
  padding: 30px 0;
}

.main {
  display: flex;
  margin-top: 20px;
}

.upper {
  margin-top: 3px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.image {
  position: relative;
  width: 65%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s;

}

.image:hover {
  filter:brightness(.8);
  transition: all .3s;

}

.image::before {
  content: "\1F50D";
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all .3s;
  cursor: pointer;
  font-size: 40px;
  transition: all .3s;
  filter:grayscale(2) brightness(1.5);
  opacity: 0;
}

.image:hover::before {
  opacity: .5;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.7);
  box-sizing: border-box;
  transition: all .3s;
}

.back:hover {
  color: rgb(66, 66, 66);
}

.back:active {
  color: red;
  font-size: 15px;
}

.back::before {
  content: "\25C4";
  font-size: 25px;
  padding-right: 3px;
}

.clickrev {
  text-decoration:underline;
  cursor: pointer;
}

.clickrev:hover {
  opacity: 0.7;
}

.edit {
  cursor: pointer;
  opacity: .6;
  transition: all .3s;
}

.edit:hover {
  opacity: 1;
}

.sale {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 10;
}

.backgroundSale {
  background-color: red;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.info {
  position: relative;
  width: 35%;
  box-sizing: border-box;
  padding-left: 20px;
}

.oldprice {
  text-decoration: line-through;
}

.price {
  font-size: 30px;
  color: red;
  font-weight: 600;
}

.cart {
  padding: 20px 2px;

}

.wrapperNum {
  border-radius: 50%;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  width: max-content;
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  position: relative;
}

.input {
  border-radius: 10px;
  border: .3px solid rgba(128, 128, 128, 0.7);
  height: 30px;
  width: 50px;
  text-align: center;
  outline: none;
  transition: all .3s;
}

.input:focus {
  border: 1px solid rgba(206, 206, 0, 0.7);
}


.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.minus:before {
  content: "-";
  position: absolute;
  bottom: -2px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  transition: all .3s;
  cursor: pointer;
  font-size: 50px;
}

.minus:hover::before {
  color: black;
  transform: scale(1.1);
}

.minus:active::before {
  color: red;
  transform: scale(0.9);
}

.plus:after {
  content: "+";
  position: absolute;
  top: 0px;
  right: -2px;
  color: rgba(0, 0, 0, 0.5);
  transition: all .3s;
  cursor: pointer;
  font-size: 40px;

}

.plus:hover::after {
  color: black;
  transform: scale(1.1);
}

.plus:active::after {
  color: red;
  transform: scale(0.9);
}

.link {
  width: max-content;
  padding: 10px 15px;
  background-color: rgb(255, 255, 43, 0.7);
  border-radius: 20px;
  /* font-size: 1.3vw; */
  text-decoration: none;
  color: black;
  transition: all .1s linear;
  cursor: pointer;
}

.link.inBasket {
  background-color: rgba(252, 252, 182, 0.7);

}

.link:hover {
  background-color:  rgba(202, 66, 7, 0.536);
  color: rgb(0, 0, 0);
  box-shadow: 0 7px 7px -4px gray;
  font-size: 17px;

}

.likeContainer {
  display: flex;
  gap: 15px;
  /* position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 10; */
}

.likeContainer span {
  font-size: 20px;
}

.like {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: rgba(128, 128, 128, 0.5);
  transition: all .3s;
}

.like:hover {
  fill: rgba(128, 128, 128, 0.6);
  transform: scale(1.1);
}

.like:active {
  transform: scale(.9);
}

.likeActive {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: red;
  transition: all .3s;
}

.likeActive:hover {
  fill: rgba(255, 0, 0, 0.7);
  transform: scale(1.1);
}

.likeActive:active {
  transform: scale(.9);
}

.about {
  margin-top: 20px;
  text-align: justify;
}

.about p {
  padding: 20px 0;
}

.character {
  margin-top: 20px;
  text-align: justify;
}

.character p {
  padding: 20px 0;
}


.h3 {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.h3::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: .3px solid rgba(128, 128, 128, 0.5);
  position: absolute;
  bottom: -20px;
  left: 0;
}

.revWrapper {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
}

.addRev {
  width: 50%;
}

.rev {
  width: 50%;


}

.rating {
  margin-top: 20px;
  font-size: 20px;
}

.numRat {
  padding: 5px;
  color: rgb(207, 172, 0);
  font-weight:600;
}

.delivery {
  font-size: 14px;
  margin-top: 60px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.1);
  line-height: 2rem;
}

.delivery::first-line {
  font-size: 16px;
  
}

.garanty {
  margin-top: 20px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.1);
  line-height: 1.5rem;
}

.popup {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn > button {
  cursor: pointer;
}

.notific {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.revBtn {
  text-align: center;
  width: max-content;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
}

.revBtn:hover {
  background-color: rgb(255, 196, 0, .7);

}

.imgScale {
  max-height: 100vh;
  border-radius: 10px;
}

.modal {
  position: relative;
}

.close::after {
  content: "\2716";
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 20px;
  opacity: .4;
  cursor: pointer;
  transition: all .3s;
}

.close:hover::after {
  opacity: 1;
}

@media (max-width: 790px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .image {
    width: 100%;
  }

  .info {
    width: 100%;
    padding: 0;
  }

  .revWrapper {
    flex-direction: column;
  }

  .addRev {
    width: 100%;
  }

  .rev {
    width: 100%;
  }

  .imgScale {
    max-height: auto;
    width: 100%;
  }
}
