header {
    background-color: yellow;
}

.container {
    width: calc(100% - 140px);
    margin: 0 auto;
    padding: 20px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;
}

.enter {
    justify-self: end;
    display: block;

}


@media (max-width: 720px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        justify-items: stretch;
        gap: 5px;
    }

    .logo {
        justify-self: center;
    }

    .enter {
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    .container {
        width: calc(100% - 300px);
    }
}



