header {
    background-color: yellow;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}

.enter {
    justify-self: end;
}

.enter span {
    display: block;
}


@media (max-width: 790px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        justify-items: stretch;
        gap: 5px;
    }

    .logo {
        justify-self: center;
    }

    .enter {
        justify-self: center;
    }
}




