footer {
    background-color: yellow;
}

.wrapper {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    
}

@media (max-width: 720px) {
    .wrapper {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .container {
        width: calc(100% - 300px);
    }
}