.myreview {
  margin: 50px auto;
  text-align: center;
}

.basket__header {
  text-align: center;
  margin: 50px auto;
}

.basket__main-delete {
  text-align: right;
  padding: 3px 5px;
  color: gray;
  cursor: pointer;
  transition: all .3s;
}

.basket__main-delete:hover {
  color: black;
}



.basket__main {
  border: .3px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  margin-bottom: 30px;
}

.basket__price {
  text-align: right;
  font-weight: bold;
  padding: 30px 50px;
  font-size: 25px;
}

.faq__wrapper {
  margin: 50px auto;
}

.faq__content {
  border: .3px solid rgba(128, 128, 128, 0.5);
  padding: 30px 50px;
  border-radius: 10px;
}

.review__popup-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.review__btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.review__btn > button {
  cursor: pointer;
}