.page {
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  position: relative;
  font-size: 25px;
}

.page div {
  font-size: 40px;
  padding-bottom: 80px;
}

.page::before {
  content: "\2718";
  color: gray;
  font-size: 200px;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
}

.link {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.6);
}

.link:hover {
  color: gray;
  transition: color .3s;
}