.option {
  padding: 5px 20px;
  color: rgba(128, 128, 128, 0.6);
  cursor: pointer; 
  transition: all .3s;

}

.option:hover {
  color: rgb(0, 0, 0);
  transition: all .3s;
}

.option:active {
  font-weight: 600;
  font-size: 17px;
  transition: all .3s;
}


.select {
  color: black;
  transition: all .3s;
  font-weight: 600;
  font-size: 17px;
}

.select:active {
  color: red;
  transition: all .3s;
  
}
