@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
	max-width: 1024px;
    padding: 0 16px;
	width: 95%;
	margin: 0 auto;
}
/* 
@media (max-width: 500px) {
    .containet {
        width: 100%;
        margin: 0;
    }
} */