@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;    
}

body {
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;   
    /* height: 100%; */
}

.container {
    position: relative;
	max-width: 1024px;
    padding: 0 16px;
	width: 95%;
	margin: 0 auto;
}

.back__history {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}

.back__history:hover {
    color: black;
}

.back__history:active {
    color: red;
}

.wrap {
    min-height: calc(100vh - 60px);
}


.title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 50px 0;
}

.height {
    height: 100vh;
}

.toUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
    border: .3px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    animation: animation .7s ease-out ;
    transition: all .3s;
}

.toUp:hover {
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.4);
}

.toUp:active {
    transform: scale(.8);
    background-color: rgba(128, 128, 128, 0.8);
}

@keyframes animation {
    0% {
        transform: rotate(-360deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
  }


@media (max-width: 300px) {
    .logo {
        width: 100%;
        margin: 0;
    }
}